.git
python-libraries
.github
.venv
.build/*
!.build/runtime
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
dist
docs
explore/coverage
explore/node_modules
explore/static/tailwind.css
explore/static/vendor
htmlcov
test-results
tests
